
p
{
  font-family: 'Courier New';
font-size: 25pt;
border:5px solid black;
}

.clickR
{
    border-color: red;
}
.clickG
{
    border-color: green;
}
.clickB
{
    border-color: blue;
}
